@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自增加属性 */
.line-comp-1{
    word-break:break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
  
.line-comp-2{
    word-break:break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
  
.line-comp-2{
    word-break:break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

button:focus{
    outline:0;
}